
<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Share
  </ion-title>
  <ion-buttons hideWhen="android" end>
    <button (click)="openCreatePage('Share')">
      <ion-icon name="create-outline"></ion-icon>
    </button>
  </ion-buttons>
  <!--<ion-buttons end>-->
    <!--<button highlight>-->
      <!--<ion-icon name="pin"></ion-icon>-->
    <!--</button>-->
  <!--</ion-buttons>-->
</ion-navbar>

<ion-content class="share-page">

  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (input)="filterDiscussions()" [(ngModel)]="queryString"></ion-searchbar>

  <ion-list>

    <ion-card *ngFor="#item of leftDiscussions">

      <ion-item (click)="openDetail(item)">
        <ion-avatar item-left>
          <img src="img/avatar.png">
        </ion-avatar>
        <h2>
          {{ item.attributes.title }}
        </h2>
        <p>
          {{ tuneTime(item.attributes.startTime) }}
        </p>
        <button clear item-right (click)="deletingAlert(item.id)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <div *ngFor="#tag of item.tags" style="display:inline; float:right">
          <span style="margin-left: 12px; color: {{tag.attributes.color}}; font-weight: bold;">
            {{ tag.attributes.name }}
          </span>
        </div>
      </ion-item>

      <ion-card-content>
        <div [innerHTML]="getResource('posts', item.relationships.startPost.data.id).attributes.contentHtml">
        </div>
      </ion-card-content>

      <ion-item>
        <button primary clear item-left>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ item.attributes.likes }} Like{{item.attributes.likes > 1 ? 's' : ''}}</div>
        </button>
        <button primary clear item-left (click)="openDetail(item)">
          <ion-icon name="text"></ion-icon>
          <div>{{ item.attributes.commentsCount -1 }} Comment{{ item.attributes.commentsCount > 2 ? 's' : ''}} </div>
        </button>
        <ion-note item-right>
          {{ getDuration(item.attributes.lastTime) }} ago
        </ion-note>
      </ion-item>

    </ion-card>

    <ion-card>

      <ion-item>
        <ion-avatar item-left>
          <img src="img/avatar.png">
        </ion-avatar>
        <h2>Marty McFly</h2>
        <p>Mar 25, 2016</p>
      </ion-item>

      <img src="img/tree.jpg">

      <ion-card-content>
        <p>Fraxinus excelsior — known as the ash, or European ash or common ash to distinguish it from other types of ash — is a flowering plant species in the olive family Oleaceae. It is native throughout mainland Europe[1] east to the Caucasus and Alborz mountains. The northernmost location is in the Trondheimsfjord region of Norway.[2][3] The species is widely cultivated and reportedly naturalised in New Zealand and in scattered locales in the United States and Canada.</p>
      </ion-card-content>

      <ion-item>
        <button primary clear item-left>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
        <button primary clear item-left>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
        <ion-note item-right>
          2 months ago
        </ion-note>
      </ion-item>

    </ion-card>


  </ion-list>

</ion-content>

<button hideWhen="ios,windows" fab fab-bottom fab-right (click)="openCreatePage('Share')">
  <ion-icon name="add"></ion-icon>
</button>
