<ion-navbar *navbar>
    <ion-title>
        New Reply
    </ion-title>
    <ion-buttons end>
        <button (click)="postData()">
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-item>
        <ion-label floating>Reply</ion-label>
        <ion-textarea rows="10" [(ngModel)]="content"></ion-textarea>
    </ion-item>
</ion-content>

