<ion-navbar *navbar>
    <ion-title>
        New {{discussionType == "Ask" ? "Question" : "Share"}}
    </ion-title>
    <ion-buttons end>
        <button (click)="postData()">
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="shareData.title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea rows="10" [(ngModel)]="shareData.content"></ion-textarea>
    </ion-item>

    <ion-item>
        <button (click)="tagAlert()">Select Tags</button>
        <ion-label *ngFor="#tag of selectedTags">
            {{ tag }}
        </ion-label>
    </ion-item>

    <ion-item>
        <button (click)="pickPhoto()">
            Select Pictures
        </button>
    </ion-item>

    <!--<ion-item>-->
        <!--<div class="grid" *ngFor="#j of [1, 2, 3]">-->
            <!--<img class="photo-thumb" *ngFor="#i of [1, 2, 3, 4, 5]" src="{{testpng}}" />-->
        <!--</div>-->
    <!--</ion-item>-->

    <ion-grid>
        <ion-row>
            <ion-col width-33 *ngFor="#uri of photoUris">
                <img class="photo-thumb" src="{{ uri }}" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-33 *ngFor="#j of [1, 2, 3]">
                <img src="{{testpng}}" />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
