<ion-navbar *navbar>
    <button menuToggle highlight>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gallery</ion-title>
    <ion-buttons end>
        <button highligh (click)="sharePhotos()">
            <ion-icon name="share"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="#two of photos2">
            <ion-col width-50 class="img-container">
                <img class="grid-img" src="{{ two[0] }}" alt="">
            </ion-col>
            <ion-col width-50 class="img-container">
                <img class="grid-img" src="{{ two.length > 1 ? two[1] : ''}}" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>