
<ion-toolbar>
    <ion-title>
        Login
    </ion-title>
    <ion-buttons end>
        <button (click)="close()">
            <ion-icon name="close-circle"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-content>

    <ion-list>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

    </ion-list>

    <div padding>
        <button block (click)="doLogin()">Sing In</button>
    </div>

    <div padding>
        <button block (click)="openRegisterPage()">Register</button>
    </div>

</ion-content>
