<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>My Discussions</ion-title>
</ion-navbar>

<ion-content>

  <ion-list>

    <ion-item *ngFor="#item of leftDiscussions" (click)="openDetail(item)">
      <ion-avatar item-left>
        <img src="img/avatar.png">
      </ion-avatar>
      <h2>
        {{ item.attributes.title }}
      </h2>
      <p>
        {{ tuneTime(item.attributes.startTime) }}
      </p>
    </ion-item>

  </ion-list>
</ion-content>
