<ion-navbar *navbar>
    <ion-title>
        My Posts
    </ion-title>
</ion-navbar>

<ion-content>

    <ion-list>

        <div *ngFor="#item of posts">
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/avatar.png">
                </ion-avatar>
                <h2> {{ myName }}</h2>
                <p>
                    {{ tuneTime(item.attributes.time) }}
                </p>
            </ion-item>
            <div padding-horizontal padding-bottom>
                <p [innerHtml]="item.attributes.contentHtml"> </p>
            </div>
        </div>

    </ion-list>

</ion-content>
