<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Account</ion-title>
</ion-navbar>

<ion-content padding class="profile-page">

  <ion-item>
    <ion-icon name="notifications" item-left></ion-icon>
    Notification
    <ion-badge item-right>0</ion-badge>
  </ion-item>

  <button ion-item (click)="openGallery()">
    <ion-icon name="image" item-left></ion-icon>
    Gallery
  </button>

  <button ion-item (click)="openMyPosts()">
    <ion-icon name="chatbubbles" item-left></ion-icon>
    My Posts
  </button>

  <button ion-item (click)="openMyDiscussions()">
    <ion-icon name="chatboxes" item-left></ion-icon>
    Discussions
  </button>

  <button ion-item>
    <ion-icon name="person" item-left></ion-icon>
    Profile
  </button>

  <button ion-item>
    <ion-icon name="settings" item-left></ion-icon>
    Settings
  </button>

  <ion-item (click)="openLoginModal()">
    <ion-icon name="log-out" item-left></ion-icon>
    Logout
  </ion-item>

</ion-content>
