<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Home</ion-title>
  <ion-buttons end>
    <button highlight (click)="openMaps()">
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="home-page">

  <ion-card>
    <ion-item>
      <span class="city-name">{{ city ? city.name : '' }}</span>
      <p>{{ iaqi ? iaqi[0].h[0] : '' }}</p>
      <br>
      <div>
        <span class="temp">{{ iaqi ? iaqi[6].v[0] + '°C' : '' }}</span>
        <div class="pm">
          <p>{{ iaqi ? 'PM2.5 ' + iaqi[0].v[0] : '' }}</p>
          <p>{{ iaqi ? 'PM10 &nbsp;' + iaqi[1].v[0] : '' }}</p>
        </div>
      </div>
    </ion-item>
    <ion-row class="weather">
      <ion-col width-25><p>Dew</p>{{ iaqi ? iaqi[7].v[0] + ' dp' : '' }}</ion-col>
      <ion-col width-25><p>Pressure</p>{{ iaqi ? iaqi[8].v[0] + ' mb' : '' }}</ion-col>
      <ion-col width-25><p>Humidity</p>{{ iaqi ? iaqi[9].v[0] + '%' : '' }}</ion-col>
      <ion-col width-25><p>Wind</p>{{ iaqi ? iaqi[10].v[0] + ' m/s' : '' }}</ion-col>
    </ion-row>
  </ion-card>

  <ion-list>
    <ion-card>
      <button ion-item>
        <p>New topics</p>
      </button>

      <ion-item *ngFor="#item of leftDiscussions" (click)="openDetail(item)">
        <ion-avatar item-left>
          <img src="img/avatar.png">
        </ion-avatar>
        <h2>
          {{ item.attributes.title }}
        </h2>
        <p>
          {{ tuneTime(item.attributes.startTime) }}
        </p>
      </ion-item>

    </ion-card>
  </ion-list>

</ion-content>
