.home-page {

}

.city-name {
  font-size: large;
  color: #089333;
}

.temp {
  font-size: xx-large;
  color: #44aaff;
}

div.pm {
  display: inline;
  position: relative;
  float: right;
  background: #fff000;
}

.weather {
  color: #8a88aa;
  text-align: center;
  background: #fff8fd;
}
