<ion-navbar *navbar>
    <button menuToggle highlight>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Planet
    </ion-title>
    <ion-buttons end>
        <button highlight (click)="locate()">
            <ion-icon name="locate"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="maps-page">
    <div id="map"></div>
</ion-content>
