<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Planet
  </ion-title>
  <!--<ion-buttons end>-->
    <!--<button highlight (click)="openMaps()">-->
      <!--<ion-icon name="pin"></ion-icon>-->
    <!--</button>-->
  <!--</ion-buttons>-->
</ion-navbar>

<ion-content class="wiki-page">

  <ion-searchbar [(ngModel)]="plantName" [hideCancelButton]="shouldHideCancel" (focus)="shouldHideCancel=false" (search)="searchWiki()"></ion-searchbar>

  <ion-grid (click)="openGallery()">
    <ion-row>
      <ion-col *ngFor="#one of photos">
        <ion-img [src]="baseUrl + one"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-list *ngIf="taxa0">
      <button ion-item (click)="pushTaxaList()">
        <!--<ion-icon name="filing" item-left></ion-icon>-->
        {{ taxa0 }}
      </button>
    </ion-list>

    <ion-item>
      <h1>{{ data.name_zh }}</h1>
      <p>{{ data.name }}</p>
    </ion-item>

    <ion-card-content>
      <b>{{ data.title }}</b>
      <div [innerHTML]="data.description"></div>
      <img *ngIf="data.img_src" src="{{ data.img_src }}" alt="{{ data.img_title }}">
      <div padding-top class="cc-footer">
        <img *ngIf="data.page" class="inline-image" src="img/creativecommons.png">
        <p> {{ data.page }} </p>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
