.wiki-page {

  ion-grid {
    ion-img {
      img {
        height: 80px;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

  ion-spinner svg {
    width: 28px;
    height: 28px;
    stroke: #4441aa;
    fill: #119988;
  }

  ion-card-content img {
    display: inline;
    width: auto;
  }
  .cc-footer {
    padding-top: 30px;
  }
}
