
<ion-menu [content]="myMenu">
  <ion-toolbar>
    <ion-title>Plants Vor</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Community
      </ion-list-header>
      <button ion-item menuClose (click)="selectTab(0)">Home</button>
      <button ion-item menuClose (click)="selectTab(1)">Wiki</button>
      <button ion-item menuClose (click)="selectTab(2)">Share</button>
      <button ion-item menuClose (click)="selectTab(3)">Ask</button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose (click)="selectTab(4)">Gallery</button>
      <button ion-item menuClose (click)="selectTab(4)">Profile</button>
      <button ion-item menuClose (click)="selectTab(4)">Settings</button>
    </ion-list>
    <ion-list>
      <button ion-item menuClose (click)="selectTab(4)">About</button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-tabs #myTabs #myMenu selectedIndex="4">
  <ion-tab [root]="homeRoot" tabIcon="home"></ion-tab>
  <ion-tab [root]="wikiRoot" tabIcon="globe"></ion-tab>
  <ion-tab [root]="shareRoot" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="askRoot" tabIcon="help-circle"></ion-tab>
  <ion-tab [root]="profileRoot" tabIcon="person"></ion-tab>
</ion-tabs>
