
<ion-navbar *navbar>
  <button menuToggle highlight>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Questions
  </ion-title>
  <ion-buttons hideWhen="android" end>
    <button (click)="openCreatePage('Ask')">
      <ion-icon name="create-outline"></ion-icon>
    </button>
  </ion-buttons>
  <!--<ion-buttons end>-->
    <!--<button highlight>-->
      <!--<ion-icon name="pin"></ion-icon>-->
    <!--</button>-->
  <!--</ion-buttons>-->
</ion-navbar>

<ion-content class="ask-page">

  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (input)="filterDiscussions()" [(ngModel)]="queryString"></ion-searchbar>

  <ion-list>

    <ion-item *ngFor="#item of leftDiscussions" (click)="openDetail(item)">
      <ion-avatar item-left>
        <img src="img/avatar.png">
      </ion-avatar>
      <h2>
        {{ item.attributes.title }}
      </h2>
      <p>
        {{ tuneTime(item.attributes.startTime) }}
      </p>
    </ion-item>

  </ion-list>

</ion-content>


<button hideWhen="ios,windows" fab fab-bottom fab-right (click)="openCreatePage('Ask')">
  <ion-icon name="add"></ion-icon>
</button>
