
<ion-navbar *navbar>
    <ion-title>
        {{ discussion.attributes.title }}
    </ion-title>
    <ion-buttons end>
        <button (click)="openPostPage()">
            <ion-icon name="create-outline"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="ask-page">

    <ion-list>

        <div *ngFor="#item of posts">
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/avatar.png">
                </ion-avatar>
                <h2> {{ item.relationships.user.data.attributes.username }}</h2>
                <p>
                    {{ tuneTime(item.attributes.time) }}
                </p>
            </ion-item>
            <div padding-horizontal padding-bottom>
                <p [innerHtml]="item.attributes.contentHtml"> </p>
            </div>
        </div>

    </ion-list>

</ion-content>

<button hideWhen="ios,windows" fab fab-bottom fab-right (click)="openPostPage()">
    <ion-icon name="add"></ion-icon>
</button>
